<!DOCTYPE html>
<html>
<head>
	<title>Product App</title>
	<link rel="stylesheet" type="text/css" href="product_style.css">
</head>
<body>

	<div class="nav-bar"></div>
	<div id="banner">
		<p v-if="banner">This is a banner</p>
	</div>

	<div id="app">
		<div class="product">

			<div class="product-image">
				<img v-bind:src="image">
			</div>

			<div class="product-info">
				<h1>{{product}}</h1>
				{{description}}
				<p v-if="onSale" style="color:yellow">On Sale!</p>
				
				<p v-if="inventory > 10">In Stock</p>
				<p v-else-if="inventory<=10 && inventory > 0">Almost sold out</p>
				<p v-else>Out of Stock</p>
				<div class="googleLink">
					Click <a :href="google">here</a> to go to google.
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>
</body>
</html>
